@CHARSET "UTF-8";

body {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7DC2FF),
		color-stop(1, #ECF09C));
	background-image: -o-linear-gradient(bottom, #7DC2FF 0%, #ECF09C 100%);
	background-image: -moz-linear-gradient(bottom, #7DC2FF 0%, #ECF09C 100%);
	background-image: -webkit-linear-gradient(bottom, #7DC2FF 0%, #ECF09C 100%);
	background-image: -ms-linear-gradient(bottom, #7DC2FF 0%, #ECF09C 100%);
	background-image: linear-gradient(to bottom, #7DC2FF 0%, #ECF09C 100%);
}

#main {
	margin: 2% 2% 2% 2%;
	width: 96%;
	padding: 2% 2% 2% 2%;
	border-radius: 1px 11px 1px 11px;
	border-radius: 15px;
	-webkit-box-shadow: -1px 0px 30px 0px rgba(140, 186, 57, 1);
	-moz-box-shadow: -1px 0px 30px 0px rgba(140, 186, 57, 1);
	box-shadow: -1px 0px 30px 0px rgba(140, 186, 57, 1);
	float: left;
}

#workingArea {
	width: 100%;
	float: left;
}

#msg {
	position: fixed;
	right: 1px;
	top: 40%;
	height: 70px;
	width: 260px;
	background-color: silver;
	display: none;
}

#initializationDiv {
	width: 90%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 2% 2% 2% 2%;
	bottom: 30px;
	float: left;
}

#initExpertsDiv {
	padding: 1% 1% 1% 1%;
	float: left;
	bottom: 1%;
	float: left;
}

#initAlternativesDiv {
	padding: 1% 1% 1% 1%;
	float: left;
	width: 40%;
}

.sortable {
	margin: auto;
	padding: 0;
	width: 310px;
}

.sortable li {
	list-style: none;
	border: 1px solid #CCC;
	background: #F6F6F6;
	font-family: "Tahoma";
	color: #1C94C4;
	margin: 5px;
	padding: 5px;
	height: 30px;
}

.selected li {
	background-color: green;
	color: white;
}

.container {
	float: left;
	padding: 3px;
}

.border {
	class: .bg-success;
	margin-top: 15;
	margin-bottom: 15;
	margin-left: 5;
	margin-right: 5;
	padding-left: 30;
	border: black solid 1;
	height: 30px;
	border-radius: 11px 0px 0px 11px;
	float: left;
	width: 100%;
	border: black solid 1;
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.15,
		#F7F7F7), color-stop(1, #4EC97B));
	background-image: -o-linear-gradient(right bottom, #F7F7F7 15%, #4EC97B 100%);
	background-image: -moz-linear-gradient(right bottom, #F7F7F7 15%, #4EC97B 100%);
	background-image: -webkit-linear-gradient(right bottom, #F7F7F7 15%, #4EC97B 100%);
	background-image: -ms-linear-gradient(right bottom, #F7F7F7 15%, #4EC97B 100%);
	background-image: linear-gradient(to right bottom, #F7F7F7 15%, #4EC97B 100%);
}

.ua-bg {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0851C7),
		color-stop(0.35, #66D7E8), color-stop(0.76, #FFFF99),
		color-stop(1, #F5F50C));
	background-image: -o-linear-gradient(bottom, #0851C7 90%, #66D7E8 35%, #FFFF99 76%, #F5F50C
		100%);
	background-image: -moz-linear-gradient(bottom, #0851C7 0%, #66D7E8 35%, #FFFF99 76%,
		#F5F50C 100%);
	background-image: -webkit-linear-gradient(bottom, #0851C7 0%, #66D7E8 35%, #FFFF99 76%,
		#F5F50C 100%);
	background-image: -ms-linear-gradient(bottom, #0851C7 0%, #66D7E8 35%, #FFFF99 76%,
		#F5F50C 100%);
	background-image: linear-gradient(to bottom, #0851C7 0%, #66D7E8 35%, #FFFF99 76%, #DEDE78
		100%);
}
#sourceAlternatives input{
	width: 280px;
}
.form-inline,.btn{
    margin: 3px;
}
