@CHARSET "UTF-8";

body {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7DC2FF),
		color-stop(1, #ECF09C));
	background-image: -o-linear-gradient(bottom, #7DC2FF 0%, #ECF09C 100%);
	background-image: -moz-linear-gradient(bottom, #7DC2FF 0%, #ECF09C 100%);
	background-image: -webkit-linear-gradient(bottom, #7DC2FF 0%, #ECF09C 100%);
	background-image: -ms-linear-gradient(bottom, #7DC2FF 0%, #ECF09C 100%);
	background-image: linear-gradient(to bottom, #7DC2FF 0%, #ECF09C 100%);
}

#main {
	margin: 0% 2% 2% 2%;
	width: 96%;
	padding: 2% 2% 2% 2%;
	border-radius: 1px 11px 1px 11px;
	border-radius: 15px;
	-webkit-box-shadow: -1px 0px 30px 0px rgba(140, 186, 57, 1);
	-moz-box-shadow: -1px 0px 30px 0px rgba(140, 186, 57, 1);
	box-shadow: -1px 0px 30px 0px rgba(140, 186, 57, 1);
	float: left;
}

#workingArea {
	width: 100%;
	float: left;
}

#msg {
	position: fixed;
	right: 1px;
	top: 20%;
	height: 70px;
	width: 260px;
	background-color: silver;
	display: none;
	z-index: 100;
}

#initializationDiv {
	width: 90%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 2% 2% 2% 2%;
	bottom: 30px;
	float: left;
}

#initExpertsDiv {
	padding: 1% 1% 1% 1%;
	float: left;
	bottom: 1%;
	float: left;
}

#initAlternativesDiv {
	padding: 1% 1% 1% 1%;
	float: left;
	width: 40%;
}

.sortable {
	margin: auto;
	padding: 0;
	width: 310px;
}

.sortable li {
	list-style: none;
	border: 1px solid #CCC;
	background: #F6F6F6;
	font-family: "Tahoma";
	color: #1C94C4;
	margin: 5px;
	padding: 5px;
	height: 30px;
}

.selected li {
	background-color: green;
	color: white;
}

.container {
	float: left;
	padding: 3px;
	position: relative;
}

.border {
	float: left;
	width: 100%;
}

.ua-bg {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0851C7),
		color-stop(0.35, #66D7E8), color-stop(0.76, #FFFF99),
		color-stop(1, #F5F50C));
	background-image: -o-linear-gradient(bottom, #0851C7 90%, #66D7E8 35%, #FFFF99 76%,
		#F5F50C 100%);
	background-image: -moz-linear-gradient(bottom, #0851C7 0%, #66D7E8 35%, #FFFF99 76%,
		#F5F50C 100%);
	background-image: -webkit-linear-gradient(bottom, #0851C7 0%, #66D7E8 35%, #FFFF99 76%,
		#F5F50C 100%);
	background-image: -ms-linear-gradient(bottom, #0851C7 0%, #66D7E8 35%, #FFFF99 76%,
		#F5F50C 100%);
	background-image: linear-gradient(to bottom, #0851C7 0%, #66D7E8 35%, #FFFF99 76%, #DEDE78
		100%);
}

#sourceAlternatives input {
	width: 280px;
}

.form-inline,.btn {
	margin: 3px;
}

.blocker {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E3E3AD),
		color-stop(1, #ECFA82));
	background-image: -o-linear-gradient(bottom, #E3E3AD 0%, #ECFA82 100%);
	background-image: -moz-linear-gradient(bottom, #E3E3AD 0%, #ECFA82 100%);
	background-image: -webkit-linear-gradient(bottom, #E3E3AD 0%, #ECFA82 100%);
	background-image: -ms-linear-gradient(bottom, #E3E3AD 0%, #ECFA82 100%);
	background-image: linear-gradient(to bottom, #E3E3AD 0%, #ECFA82 100%);
	width: 100%;
	opacity: 0.5;
}

.blockerButton {
	background-color: yellow;
	width: 100%;
}

#sourceAlternatives input {
	width: 280px;
}

.form-inline,.btn {
	margin: 3px;
}

.rating-block {
	width: auto;
	vertical-align: middle;
	display: inline-block;
	border: 2px solid #ccc;
	border-radius: 4px;
	/*background-color: rgba(29, 31, 31, 0.26);*/
}

.experts li {
	padding-bottom: 5px;
}

.theme-input {
	background-color: rgba(255, 255, 255, 0.1);
	border-width: 0;
	text-align: center;
	font-size: x-large;
	padding: 0 0 0 5%;
}
.theme-input:HOVER {
	background-color: rgba(200, 200, 55, 0.9);
	border-width: 0;
	text-align: center;
	font-size: x-large;
	padding: 0 0 0 5%;
}

#save-links{
    display: inline;

}

#save-links a{
    color: whitesmoke;
    cursor: pointer;

}
