@CHARSET "UTF-8";

#main {
	margin: 2% 2% 2% 2%;
	height: 96%;
	width: 96%;
	padding: 2% 2% 2% 2%;
	border: dashed black 2;
	border-radius: 1px 11px 1px 11px;
	border-radius: 15px;
	-webkit-box-shadow: -1px 0px 30px 0px rgba(140, 186, 57, 1);
	-moz-box-shadow: -1px 0px 30px 0px rgba(140, 186, 57, 1);
	box-shadow: -1px 0px 30px 0px rgba(140, 186, 57, 1);
}

#workingArea {
	border: 1 solid white;
	width: 100%;
}

#initializationDiv {
	/* 	position:fixed; */
	width: 90%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 2% 2% 2% 2%;
	border: dashed gray 1;
	bottom: 30px;
	float: left;
}

#initExpertsDiv {
	padding: 1% 1% 1% 1%;
	border: solid gray 1;
	float: left;
	/* 	width: 40%; */
	/* 	height: 300px; */
	bottom: 1%;
	float: left;
}

#initAlternativesDiv {
	padding: 1% 1% 1% 1%;
	border: solid gray 1;
	float: left;
	width: 40%;
	/* 	height: 300px; */
}

.sortable {
	margin: auto;
	padding: 0;
	width: 310px;
}

.sortable li {
	list-style: none;
	border: 1px solid #CCC;
	background: #F6F6F6;
	font-family: "Tahoma";
	color: #1C94C4;
	margin: 5px;
	padding: 5px;
	height: 30px;
}

.selected li {
	background-color: green;
	color: white;
}

.container {
	float: left;
	padding: 3px;
}

.border {
	margin-top: 15;
	margin-bottom: 15;
	margin-left: 5;
	margin-right: 5;
	padding-left: 30;
	border: black solid 1;
	height: 30px;
	background: rgb(137, 147, 186);
	background: -moz-linear-gradient(74deg, rgb(137, 147, 186) 44%,
		rgb(181, 183, 182) 84%);
	background: -webkit-linear-gradient(74deg, rgb(137, 147, 186) 44%,
		rgb(181, 183, 182) 84%);
	background: -o-linear-gradient(74deg, rgb(137, 147, 186) 44%,
		rgb(181, 183, 182) 84%);
	background: -ms-linear-gradient(74deg, rgb(137, 147, 186) 44%,
		rgb(181, 183, 182) 84%);
	background: linear-gradient(164deg, rgb(137, 147, 186) 44%,
		rgb(181, 183, 182) 84%);
	border-radius: 1px 11px 1px 11px;
	border-radius: 15px;
	float: left;
	width: 100%;
	border: black solid 1
}